<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:property name="imu_size" value="0.025"/>
    <xacro:property name="imu_mass" value="0.03"/>

    <link name="imu_link">

        <visual>
            <geometry>
                <box size="${imu_size} ${imu_size} ${imu_size}"/>
            </geometry>
            <material name="black"/>
        </visual>

        <collision>
            <geometry>
                <box size="${imu_size} ${imu_size} ${imu_size}"/>
            </geometry>
        </collision>

        <xacro:box_inertia
            m="${imu_mass}"
            l="${imu_size}"
            w="${imu_size}"
            h="${imu_size}"/>

    </link>

    <joint name="imu_joint" type="fixed">
        <parent link="base_link"/>
        <child link="imu_link"/>
        <origin
            xyz="0 0 0.03"
            rpy="0 0 0"/>
    </joint>

    <gazebo reference="imu_link">
        <sensor name="imu_sensor" type="imu">
            <gz_frame_id>imu_link</gz_frame_id>
            <always_on>true</always_on>
            <update_rate>100</update_rate>
            <visualize>true</visualize>

            <imu>

                <angular_velocity>
                    <x>
                        <noise type="gaussian">
                            <mean>0.0</mean>
                            <stddev>0.001</stddev>
                        </noise>
                    </x>
                    <y>
                        <noise type="gaussian">
                            <mean>0.0</mean>
                            <stddev>0.001</stddev>
                        </noise>
                    </y>
                    <z>
                        <noise type="gaussian">
                            <mean>0.0</mean>
                            <stddev>0.001</stddev>
                        </noise>
                    </z>
                </angular_velocity>

                <linear_acceleration>
                    <x>
                        <noise type="gaussian">
                            <mean>0.0</mean>
                            <stddev>0.01</stddev>
                        </noise>
                    </x>
                    <y>
                        <noise type="gaussian">
                            <mean>0.0</mean>
                            <stddev>0.01</stddev>
                        </noise>
                    </y>
                    <z>
                        <noise type="gaussian">
                            <mean>0.0</mean>
                            <stddev>0.01</stddev>
                        </noise>
                    </z>
                </linear_acceleration>

            </imu>

            <topic>imu</topic>

        </sensor>
    </gazebo>

</robot>
